.card {
    color: white;
    width: 600px;
    font-weight: bold;
    height: 220px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.cardMedia {
    object-fit: contain;
}

.cardContent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 16px;
    text-align: left;
}
.cardTitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}
.bottomText{
    margin-top: 30px;
}
.editButton, .deleteButton{
    color: rgb(158, 158, 158);
    background-color: rgb(158, 158, 158);
    width: 75px;
}
.editButton:hover{
    border-color: cyan;
    color: cyan;
}
.deleteButton:hover{
    border-color: red;
    color: red;
}
